{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
    }
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["react", "react-hooks"],
  "rules": {
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "react/button-has-type": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "react/no-unescaped-entities": "off",
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.ts"] }
    ],
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "mjs": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "@typescript-eslint/interface-name-prefix": [
      "off",
      { "prefixWithI": "always" }
    ]
  }
}
