node_modules/
public
.gatsby-context.js
.DS_Store
.intermediate-representation/
.cache/
.vscode/
graphql-types.ts
.env*
!.env.sample
src/assets/style/_tailwindvars.scss
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.js
.pnp*
